<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>HandonCount</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body>
  <h1><%= @number %></h1>
    <h1><%= @number*2 %></h1>
  <form action="/plus" method="POST">
    <input type="submit" value="+">
  </form>
</body>
</html>
